@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p text-align="center">TopMovies is a web appplication that shares my favorite movies and tv shows. I hope you enjoy them as much as I did!</p>

<p text-align="center">
    TopMovies is a web application that uses:
    <ul text-align="center">
        <li>An ASP.NET Core framework </li>
        <li>MVC architecture</li>
        <li>Entity Framework for interacting with the database(MSSQL Server)</li>
        <li>REST API for making calls to the database</li>
        <li>C# Razor pages for the views</li>
    </ul>

</p>

<p text-align="center">
    Features of TopMovies include:
    <ul text-align="center">
        <li>View all recommendations </li>
        <li>Search for a specific recommnedation</li>
        <li>Register/Log-in to create, edit, or delete a recommendation</li>
        
    </ul>
    
</p>
