@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TopMovies!!!</h1>
    
</div>

<div class="text-center">
    <p>Sit back and enjoy my favorite movies and tv shows</p>
    <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZDQyYmxmdWN0bHRkMjBzbXY1bHNtc2V6N2xtd3A1N2hodWp2dGQ4eCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/tyqcJoNjNv0Fq/giphy.gif" alt="Popcorn eating gif" width="480" height="364" frameBorder="0" class="giphy-embed" allowFullScreen />

</div>

